<h3>Post a comment</h3>
<%= form_for [@article, @comment] do |f| %>
   <p>
     <%= f.lable :author_name, "Your name" %><br/>
     <%= f.text_field :author_name "Your comment" %>
   </p>
   <p>
     <%= f.lable :body %><br/>
     <%= f.text_area :body %>
   </p>
   <p>
     <%= f.submit 'Submit' %>
   </p>
   <p> Posted <%= distance_of_time_in_words(comment.article.created_at. comment.created_at) %>
     later</p>
   <% end %>
